
@font-face {font-family: Couture; src: url("couture-bld.otf");}
@font-face {font-family: DolceVita; src: url("Dolce Vita Heavy Bold.ttf");}
@font-face {font-family: Blacksword; src: url("Blacksword.otf");}
@font-face {font-family: Cabin; src: url("Cabin-Medium.ttf");}

.backImg{
	min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: -125px;
    z-index: 0;
}

.title {
	height: 250px;
	width: 425px;
	background-color: rgba(220,220,220,0.9);
	position: absolute;
	left: 90px;
	top: 60px;
	text-align: center;
	z-index: 1;
}

.title h2 {
	border: 7px solid white;
	font-family: DolceVita;
	color: white;
	padding: 20px;
	font-size: 40px;
	margin-left: 73px;
	width: 225px;
	letter-spacing: 2px;
}

.mainNav {
	margin-top: -25px;
}

.mainNav p {
	display: inline-block;
	font-size: 20px;
	color: black;
}

.navItem {
	font-family: Blacksword;
	padding-left: 25px;
	padding-right: 25px;
}

.navItem:hover {
	cursor: pointer;
	color: rgba(212,175,55,0.8);
}

.info {
	width: 375px;
	height: 200px;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	z-index: 1;
	text-align: center;
	color: rgba(212,175,55,0.8);
	left: 115px;
	top: 335px;
}

#infoTitle {
	font-family: Blacksword;
	font-size: 20px;
}

#infoBody {
	font-family: Cabin;
}